<md-card fxLayout="column" fxLayoutAlign="start start" >

  <app-route-input
    [(routeId)]="state.routeInId"
    (incomingData)="onIncoming($event)"
  ></app-route-input>

  <md-card-subtitle>CC-INPUT</md-card-subtitle>
  <div fxLayout="row" fxLayoutGap="15px">
    <md-input-container class="cc-input">
      <input mdInput placeholder="cc id" [(ngModel)]="state.parameterId" type="number">
    </md-input-container>
    <md-slider class="range-input"
      #controlInput
      thumbLabel
      [(ngModel)]="state.inputValue"
      (input)="setValue(controlInput.value)"
      min="0"
      max="127"
      step="1"
    ></md-slider>
  </div>

  <app-route-output
    [(routeId)]="state.routeOutId"
    [outgoingData$]="outgoing$"
  ></app-route-output>
</md-card>
