<i class="material-icons server-button" (click)="showSetup=!showSetup">wifi</i>
<div class="server-setup"
  *ngIf="showSetup"
>
  <div class="">

  </div>
  <md-card *ngIf="networkService.isServer()" >
    <md-card-subtitle>SERVER SETUP</md-card-subtitle>
    <span>Server Address: {{localIpAddress}}:8080</span>
  </md-card>

  <md-card *ngIf="!networkService.isServer()" >
    <md-card-subtitle>CLIENT SETUP</md-card-subtitle>
      <md-input-container class="">
        <input mdInput #serverAddressInput maxlength="20" 
          placeholder="Server Address" 
          [(ngModel)]="serverAddress" 
          (change)="clientChangeServerAddress(serverAddress)">
        <md-hint align="end">{{serverAddressInput.value.length}} / 20</md-hint>
      </md-input-container>
  </md-card>
</div>
