<md-sidenav-container fxLayout="column">

  <md-sidenav #sidenav class="app-sidenav" mode="over" align="end"> <!-- Make Sidenav a component and transclude primary content (then only disable encapsulation for sidenav-component) -->
    <!-- sidenav content -->
    <md-list>
      <h3 md-subheader>Network Settings</h3>
      <md-list-item>
        <md-input-container>
          <input mdInput #defaultServerAddressInput maxlength="20" 
            placeholder="Default server address" 
            [(ngModel)]="defaultServerAddress" 
            (change)="clientChangeDefaultServerAddress(defaultServerAddress)">
          <md-hint align="end">{{defaultServerAddressInput.value.length}} / 20</md-hint>
        </md-input-container>
      </md-list-item>
      <div class="debugging-subsection">
        <h3 md-subheader>Debugging</h3>
        <md-list-item>
          <button md-button (click)="debugLogCurrentSession()">Log current session</button>
        </md-list-item>
        <md-list-item>
          <button md-button (click)="debugLogWidgetComponents()">Log widget components</button>
        </md-list-item>
      </div>
      <!--<md-divider></md-divider>
      <h3 md-subheader>Other Settings</h3>
      <md-list-item>
          <md-icon md-list-icon>note</md-icon>
          <h4 md-line>other blub</h4>
          <p md-line class="demo-2"> adasdasasasdasd</p>
      </md-list-item>-->
    </md-list>

  </md-sidenav>

  <ng-content></ng-content>

</md-sidenav-container>
